[submodule "C-Http-Server"]
	path = C-Http-Server
	url = https://github.com/alex-s168/C-Http-Server
[submodule "allib"]
	path = allib
	url = https://github.com/alex-s168/allib.git
[submodule "slowdb"]
	path = slowdb
	url = https://github.com/alex-s168/slowdb.git
