port = 8070

# the amount of threads in the thread pool for serving http
http_threads = 12

# how many concurrent downloads allowed
conc_downloads = 8

# every 4 minutes
mirrors_recache_interval_s = 240

# allow cache download requests to make this server download a file
# should be disabled if this server is publicly accessible!
enable_remoteurl = true

backing_mirrors [
    "http://dl.t2sde.org/mirror/trunk/"
]
